#id1{
    background-color:blue;
    height: 180px;
    width: 450px;
    font-weight: 500;
    border: 2px solid black;
    padding-left: 50px;
    padding-top: 20px;
    line-height: 20px;
}
.heading{
    color: red;
}
#id2{
    background-color: green;
}
.button{
    background-color: blue;
    color: white;
}