.box{
    width: 200px;
    height: 150px;
    background-image: url(https://live.staticflickr.com/5601/15453255299_a3443763e4.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    font-size: 30px;
    text-align: center;
    line-height: 150px;
    position: fixed;
    right: 0;
    top: 50px;
    z-index: 1000;
    border-radius: 10px;

}
body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: white;
    background-color: black;
}